{% extends "base.html" %}
{% block title %} Projects {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='project_style.css') }}">
<div class="planing"><i class="bi bi-bag-check-fill" style="font-size: 44px;"></i>Preturi</div>
    <div class="parent-slider">
        <div class="first-child">
            <div class="first-child-head">
                <div class="first-child-head-text"><h1>First</h1></div>
                <div class="line"></div>
            </div>
            <div class="first-child-body">
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
            </div>
            <a href="#"><button class="pricing">Alege</button></a>
        </div>
        <div class="second-child">
            <div class="second-child-head">
                <div class="second-child-head-text"><h1>Second</h1></div>
                <div class="line"></div>
            </div>
            <div class="second-child-body">
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
            </div>
            <a href="#"><button class="pricing">Alege</button></a>
        </div>
        <div class="third-child">
            <div class="third-child-head">
                <div class="third-child-head-text"><h1>Third</h1></div>
                <div class="line"></div>
            </div>
            <div class="third-child-body">
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
                <p>Lorem ipsum dolor sit amet <i class="bi bi-check" style="font-size: 1rem; color: green;"></i></p>
            </div>
            <a href="#"><button class="pricing">Alege</button></a>
        </div>    
    </div>

{% endblock %}